<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace = "TwitterTimeMapper">
	
	<resultMap id = "systemDiagResult" type = "dao.results.SystemDiag">
	   <result property = "forDate" column = "forDate"/>
	   <result property = "numPosts" column = "numPosts"/>
	</resultMap>

   <select id = "GetSystemDiagnostics" resultType = "dao.results.SystemDiag">
   		SELECT DATE(t.startTime) AS forDate, GREATEST(23 - COUNT(*), 0) AS numPosts FROM 
   		Times t WHERE (SELECT COUNT(*) FROM WordsClustered w WHERE w.time=t.id) &gt; 0 AND 
   		DATE(LOCALTIMESTAMP) != DATE(t.startTime) GROUP BY DATE(t.startTime) ORDER BY forDate;
   </select>
</mapper>