<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace = "TwitterWordMapper">
   
   <resultMap id = "wordResult" type = "dao.results.TwitterWordData">
	   <result property = "state" column = "state"/>
	   <result property = "word" column = "word"/>
	   <result property = "occurances" column = "sumOccurances"/>
	</resultMap>

   <select id = "GetWordsDuringTimeByState" resultMap="wordResult">
   		select w.state as state, w.word as word, sum(occurances) as sumOccurances 
   		from Words w join Times t on w.time=t.id where w.word in 
		<foreach item="item" index="index" collection="words"
		        open="(" separator="," close=")">
		          #{item}
	    </foreach>
		 and t.startTime &gt; #{startDate} and t.endTime &lt; #{stopDate} group by w.state, w.word;
   </select>
</mapper> 