<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace = "TwitterTimeMapper">
   
   <resultMap id = "timeResult" type = "dao.TwitterTime">
	   <result property = "id" column = "ID"/>
	   <result property = "endTime" column = "endTime"/>
	   <result property = "startTime" column = "startTime"/>
	</resultMap>

   <select id = "GetTimeBetween" resultMap = "timeResult">
   		SELECT * FROM Times where startTime &lt;= #{requestedTime} AND endTime &gt; #{requestedTime}; 
   </select>
   
   <select id = "GetTimeRange" resultType="dao.TwitterTime">
   		SELECT * FROM Times where startTime = (SELECT MIN(startTime) FROM Times) OR startTime = (SELECT MAX(startTime) FROM Times);
   </select>
</mapper>